@import url(./components/header.css);
@import url(./components/container.css);
@import url(./components/form.css);
@import url(./components/result.css);
@import url(./components/errors.css);

:root {
    --background-color: #9aa0a8;
    --font-color: #0e2543;
    --header-background-color-0: #A7E4F2;
    --header-background-color-1: #3F618C;
    --form-background: #d5d8dc;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "sizmo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bmi-chart-image {
    display: none;
}

@media (min-width: 750px) {
    main.container {
        width: 75%;
    }
    
    section.bmi-calculator{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    section.bmi-calculator form{
        width: 35%;
    }    

    .bmi-chart-image {
        width: 300px;
        height: 185px;
        border-radius: .25rem;
        display: initial;
    }

    section .result {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section .result .content {
        width: 70%
    }
}


@media (min-width: 1000px) {
    main.container {
        width: 60%;
    }
    
    section.bmi-calculator{
        width: 100%;
    }

    .bmi-chart-image {
        width: 340px;
        height: 209px;
    }

    section .result .content {
        width: 80%;
    }
}

@media (min-width: 1300px) {
    main.container {
        width: 50%
    }
    
    .bmi-chart-image {
        width: 400px;
        height: 246px;
    }

    section .result .content {
        width: 90%
    }
}