:root {
	--white-background: rgb(215, 215, 215);
	--white-table-form:  rgb(237, 237, 237)
}

body {
	background-color: var(--white-background);
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

/* Header ============================================*/

header {
	background-color: rgb(122, 122, 122);
	background-image: url(../images/nutrition.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #FFF;
	text-align: center;
	position: relative;
	isolation: isolate;
	font-size: 2.35em;
}

header::after {
	content: '';
	position: absolute;
	z-index: -1;
	inset: 0;
	background-color: rgb(0, 84, 120);
	opacity: 0.55;
}

/* Main  ============================================*/

main {
	width: 90%;
	min-width: 300px;
	max-width: 850px;
	margin: auto;
}

section{
	margin: 2em 0;
}

section h2{
	font-size: 1.6em;
	display: block;
	padding: 10px;
	padding-bottom: .6em;
	background-image: linear-gradient(to right, rgba(204, 204, 204, 0.75), var(--white-background));
	border-bottom: 4px solid #ccc;
	margin-bottom: .6em;
}

/* Table ==============*/
table {
	table-layout: fixed;
	width: 100%;
}

th {
	font-weight: bold;
	vertical-align: middle;
	background-image: linear-gradient(rgb(0, 110, 158, 0.30), rgb(0, 110, 158, 0.65));
	padding: 1.25em;
}

td {
	padding: 1rem;
	text-align: center;
}

table tbody tr {
	transition: .13s;
	background-color: var(--white-table-form);
}

table tbody tr:hover {
	cursor: pointer;
	transform: scale(1.015);
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.235);
	background-color: rgb(248, 248, 248);
}

table tbody tr:last-child:hover {
	border-radius: 0 0 0.5rem 0.5rem;
}

/*Table border radius ==============*/

table thead tr th:first-child {
	border-radius: 0.5rem 0 0 0rem;
}

table thead tr th:last-child {
	border-radius: 0 0.5rem 0 0;
}

table tbody tr:last-child td:first-child{
	border-radius: 0 0 0 0.5rem;
}

table tbody tr:last-child td:last-child {
	border-radius: 0 0 0.5rem 0;
}

/*Form ==============*/

form {
	background-color: var(--white-table-form);
	border: 3px solid rgb(0, 110, 158);
	border-radius: 5px;
	margin-bottom: 15px;
}

legend {
	background-image: linear-gradient(to left, rgb(0, 110, 158, 0.20), rgb(0, 110, 158, 0.5));
	padding: 10px;
}

fieldset div {
	padding: 6px;
	margin: 6px;
}

.inputAddPacientes {
	border-radius: 5px;
	border: 2px solid rgb(0, 110, 158);
	background-color: rgb(0, 110, 158, 0.08);
}

/* Buttons ==============*/

.meusPacientes .botao {
	padding: 3px;
	float: right;
}

.botao {
	font-size: 1.25em;
	padding: 3px;
	margin: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 0px;
	background-color: rgba(68, 157, 195, 0.9);
	transition-duration: .25s;
}

.botao:hover {
	background-color: rgb(0, 110, 158);
	color: white;
	border: 3px solid white;
}

.buttonPanel {
	background-image: linear-gradient(to left, rgb(0, 110, 158, 0.20), rgb(0, 110, 158, 0.4));
	padding-left: 5px;
}