section.bmi-calculator {
 background-color: var(--form-background);
 border-radius: .25rem;
 padding: 1rem 1rem 0rem 1rem;
}

section.bmi-calculator form {
    padding: .5rem;
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, 0.25);
}

section.bmi-calculator form .inputs-height-weight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.bmi-calculator form input,
section.bmi-calculator .submit input {
    border: 0;
    border-radius: .25rem;
    padding: .5rem;
    margin: .25rem 0 1rem 0;
    transition: .25s;
}

section.bmi-calculator input:focus {
   outline: 1px solid #3F618C;
   scale: 1.015;
}

section.bmi-calculator input:hover {
   scale: 1.015;
}

section.bmi-calculator .submit input {
    background-color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

section.bmi-calculator .submit input:hover {
    background-color: #3F618C;
    scale: 1.08;
    color: #fff;
}
